<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let movie of movies" [ngStyle]="{ 'background-size': 'cover',
                                                                            'background-image':'url(https://image.tmdb.org/t/p/w500' + movie.backdrop_path + ')'}">
            <div class="movie-description">
                <h3>{{ movie.original_title }}</h3>
                <p>
                    {{ (movie.overview.length>150)? (movie.overview | slice:0:150)+'..':(movie.overview) }}
                </p>
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev" (click)="onPrevious()"></div>
    <div class="swiper-button-next" (click)="onNext()"></div>
</div>